Checks: '-*,boost*,clang-*,concurrency*,cppcoreguidelines*,misc*,modernize*,performance*,portability*,readability*,-concurrency-mt-unsafe,-misc-non-private-member-variables-in-classes,-readability-identifier-length,-readability-named-parameter,-modernize-use-trailing-return-type,-cppcoreguidelines-macro-usage,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-type-union-access,-readability-magic-numbers,-readability-function-cognitive-complexity,-cppcoreguidelines-avoid-do-while,-cppcoreguidelines-avoid-magic-numbers,-misc-use-anonymous-namespace,-cppcoreguidelines-avoid-const-or-ref-data-members,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-non-private-member-variables-in-classes,-cppcoreguidelines-special-member-functions'
UseColor: true
