Diagnostics:
    UnusedIncludes: Strict
    MissingIncludes: Strict
Hover:
    ShowAKA: Yes
Index:
    StandardLibrary: Yes
CompileFlags:
    Add: [-xc++, -std=c++20, -stdlib=libc++,-fexperimental-library]

---

If:
    PathMatch: [".*build-default/.*"]
Diagnostics:
    Suppress: "*"
    UnusedIncludes: None
    MissingIncludes: None