Diagnostics:
    UnusedIncludes: Strict
    MissingIncludes: Strict
Hover:
    ShowAKA: Yes
Index:
    StandardLibrary: Yes

---

If:
    PathMatch: [".*build-default/.*"]
Diagnostics:
    Suppress: "*"
    UnusedIncludes: None
    MissingIncludes: None