Checks: '-*,boost*,clang-*,concurrency*,cppcoreguidelines*,misc*,modernize*,performance*,portability*,readability*,-readability-identifier-length,-readability-named-parameter,-modernize-use-trailing-return-type,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-type-union-access,-readability-function-cognitive-complexity,-cppcoreguidelines-avoid-do-while,-misc-use-anonymous-namespace'
UseColor: true
